.icon:hover {
    cursor: pointer;
}

html,body {
    width: 100%;
    height: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

.slider {
    width: 500px;
    max-height: 700px;
    border: 3px solid white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
}

.slider__progressBar {
    display: flex;
    width: 100%;
    height: 10px;
    padding:2px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.repositoryItem {
    margin-top: 30px;
}

.routerView {
    width: 100%;
    height: 100%;
}
